@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    background-color: hsl(30, 38%, 92%);
}
.container {
    display: flex;
    background-color: hsl(0, 0%, 100%);
    width: 375px;
    border-radius: 8px;
    padding:auto;
    margin:auto;
}
.image {
    display: flex;
    width: 375px;
}
.texts {
    display: flex;
    flex-direction: column;
}
.description {
    width: 335px;
    padding: 20px 20px 0px 20px;
}
h1 {
    font-family: 'Fraunces',sans-serif;
    font-size: 3.4rem;
    line-height: 3.2rem;
    margin: 10px 0px 0px 0px;
}
h2 {
    margin: 0;
    font-family: 'Montserrat',serif;
    font-size: 1.2rem;
    letter-spacing: .6rem;
    font-weight: lighter;
    color: hsl(228, 12%, 48%);
}
p{
    font-family: 'Montserrat',sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 1.6rem;
    margin-right: 0;
    line-height: 2.6rem;
}
.price {
    margin: 0px 0px 15px 0px;
}
span {
    font-family: 'Fraunces',sans-serif;
    color: hsl(158, 36%, 37%);
    font-size: 3rem;
    margin-left: 20px;
    vertical-align: middle;
}
span + span {
    font-family: 'Montserrat';
    font-weight: lighter;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-size: 1.2rem;
}
/* Glassy Buttons */
.btn {
    display: flex; 
    background-color: hsl(158, 36%, 37%);
    margin-bottom: 25px;
    border-radius: 8px;
    border-color: transparent;
    width: 340px;
    height: 50px;
    line-height: 50px;
    align-self: center;
    align-items: center;
    justify-content: center;
}
.icon-cart {
    display: flex;
    width: 2rem;
    height: 2rem;
}
.text-cart {
    display: flex;
    color: hsl(0, 0%, 100%);
    font-family: 'Montserrat',sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
@media (min-width: 375px ) and (max-width: 779px) {
    .container {
        flex-direction: column;
    }
    .image {
        content: url("./images/image-product-mobile.jpg");
        border-radius: 8px 8px 0px 0px;
    }
}
@media (min-width: 780px) {
    .container {
        flex-direction: row;
        width: 700px;
    }
    .image {
        content: url("./images/image-product-desktop.jpg");
        border-radius: 8px 0px 0px 8px;
    }
    .texts {
        height: 100vh;
        flex-direction: column;
        justify-content: space-around;
    }
    .description {
        width: 260px;
        margin-left: 10px;
    }
    .btn {
        width: 250px;
    }
    h1 {
        margin-bottom: 30px;
    }
    h2 {
        margin-bottom: 30px;
    }
    .price {
        margin-left: 10px;
    }
}