@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
/*Inicialized html to delete paddings, margins, and font-size to use rem units*/
html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    background-color: hsl(30, 38%, 92%);
}
/*Principal div tag properties to containg all the design elements*/
main {
    display: flex;
    flex-direction: column;
    Min-height: 100vh;
    Justify-content: center;
    Align-items: center;
}
.container {
    display: flex;
    width: 375px;
    border-radius: 8px;
}
img {
    width: 375px;
}
.description-box {
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
}
h1 {
    font-family: 'Fraunces',sans-serif;
    font-size: 3.4rem;
    line-height: 3.2rem;
    margin-top: 15px;
}
h2 {
    margin-top: 15px;
    font-family: 'Montserrat',serif;
    font-size: 1.2rem;
    letter-spacing: .6rem;
    font-weight: lighter;
    color: hsl(228, 12%, 48%);
}
p {
    font-family: 'Montserrat',sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin: 20px 0px 20px 0px;
}
.price {
    margin-left: 20px;
}
span {
    font-family: 'Fraunces',sans-serif;
    color: hsl(158, 36%, 37%);
    font-size: 3rem;
    vertical-align: middle;
}
span + span {
    margin-left: 20px;
    font-family: 'Montserrat';
    font-weight: lighter;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-size: 1.2rem;
}
/*Button */
button {
    display: flex;
    background-color: hsl(158, 36%, 37%);
    margin-top: 30px;
    border-radius: 8px;
    border-color: transparent;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
}
button embed {
    width: 1.8rem;
    height: 1.8rem;
}
button span {
    color: hsl(0, 0%, 100%);
    font-family: 'Montserrat',sans-serif;
    font-size: 1.4rem;
    margin-left: 15px;
    padding: 0;
}
button:hover {
    background-color: hsl(158, 36%, 16%);
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
/*Rules for adaptative preview card format and design*/
@media (min-width: 375px ) and (max-width: 1439px) {
    .container {
        max-width: fit-content;
        flex-direction: column;
    }
    img {
        content: url("./images/image-product-mobile.jpg");
        border-radius: 8px 8px 0px 0px;
    }
    .description-box {
        border-radius: 0px 0px 8px 8px;
    }
}
@media (min-width: 1440px) {
    .container {
        width: 580px;
        height: 450px;
        flex-direction: row;
    }
    img {
        content: url("./images/image-product-desktop.jpg");
        width: 280px;
        border-radius: 8px 0px 0px 8px;
    }
    .description-box {
        width: 260px;
        height: 410px;
        border-radius: 0px 8px 8px 0px;
    }
    h1 {
        margin-right: 10px;
    }
}